html {
    font-family: 'Cantarell', sans-serif;
    color: #5b5b5b;
}

#atf {
    /* layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background */
    background-color: #5b5b5b;
    background-image: url("../img/robot-lg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
    /* formatting */
}

.atf-center {
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    /*flex-flow: column nowrap;*/
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1rem;
    text-align: center;
}