<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roninqa</title>
    <link rel="stylesheet" href="public/main.css">
</head>
    {{template "header"}}
    <div id="atf">
        <main>
            <img src="https://static.pexels.com/photos/128458/pexels-photo-128458.jpeg" alt="Robert-Villalta">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua.</h1>
        </main>
    </div>
    {{template "btf"}}
    {{template "footer"}}
</html>