<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roninqa</title>
    <link rel="stylesheet" href="../css/mcleod-reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/mq-800-plus.css" media="(min-width: 800px)">
    <link rel="stylesheet" href="../css/mq-640-plus.css" media="(max-width: 640px)">
</head>
<body>
<section id="atf">
    <div class="atf-center">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua.</h1>
    </div>
</section>
<ol>
    <li>001</li>
    <li>002</li>
    <li>003</li>
    <li>004</li>
    <li>005</li>
    <li>006</li>
    <li>007</li>
    <li>008</li>
    <li>009</li>
    <li>010</li>
</ol>
</body>
</html>
